/* @import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Mono'); */
h1, h2, h3, h4 {
    /* font-family: 'Ubuntu Mono', monospace; */
    /* font-family: 'Fira Mono', monospace; */
    /* font-family: 'Nova Mono', monospace; */
    /* font-family: 'B612 Mono', monospace; */
    /* font-family: 'Dancing Script', "BPG Irubaqidze", cursive, sans-serif; */
    font-family: 'Dancing Script', "BPG Irubaqidze", cursive, sans-serif;
    text-transform: capitalize;
    color: #a9a9b3;
}
body {
    font-family: 'Ubuntu Mono', monospace;
    background-color: #272729;
    color: #a9a9b3;
    background-image: url("../images/islab-bg.jpg");
    /* background-color: #fcfcfc; */
}
.wrapper {
    background-color: rgba(0, 0, 0, 0.85);
}
.content-wrapper {
    /* min-height: 100%;
    background-color: rgba(0, 0, 0, 0.7); */
}
.navigation .nav-wrap {
    /* background: rgba(0,0,0,0.8); */
    height:60px;
}
/* .navigation .nav-wrap .container {
    position: sticky;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
.about .avatar img {
    border-radius: 0;
}
a, p a {
    font-weight: normal;
    font-family: 'Ubuntu Mono', monospace;
    transition: none;
    color: #a9a9b3;
    text-decoration: none;
}
a:hover {
    opacity: 0.75;
}
.navigation {
    position: sticky;
    top: 0px;
    border: 0;
    /* background-image: url("../images/islab-bg.jpg"); */
    background-size: cover;
    background-position: center;
    /* background-color: #252627; */
    z-index: 100;
    /* background-color: #fff; */
    /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
    height:60px;
}

.navigation .navigation-title {
    font-size: 2.5rem;
    padding-left: 4rem;
    color: #fcfcfc;
}
.navigation .navigation-title::after, .navigation .navigation-title::before {
    display: none;
}
.navigation .navigation-title img {
    position: absolute;
    width: 2.75rem;
    height: auto;
    left: 0;
    top: -5px;
    /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}
@media only screen and (max-device-width: 768px) and (min-device-width: 320px) {
    .navigation ul{
        top: auto;
        transform: translateY(6.1rem);
    }
}


.navigation .navigation-title .sub-title {
    position: absolute;
    font-size: 0.7rem;
    top: 0px;
    /* transform: translate(10%, -20%); */
    transform: translate(-35%, 5%);
    /* left: auto; */
    /* left: 50%;
    transform: translateX(-50%); */
}
.navigation a {
    font-family: 'Dancing Script', "BPG Irubaqidze", cursive, sans-serif;
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: .2rem;
    color: #a9a9b3;
}
a:before,  a:after {
    height: 0;
}

.navigation a:before, .navigation a:after {
    height: 1px;
    /* background: #a9a9b3; */
    transition: 0.2s;
    bottom: -5px;
}
p {
    /* font-family: 'Ubuntu Mono', monospace; */
}