/* @import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Mono'); */
h1, h2, h3, h4 {
    /* font-family: 'Ubuntu Mono', monospace; */
    /* font-family: 'Fira Mono', monospace; */
    /* font-family: 'Nova Mono', monospace; */
    /* font-family: 'B612 Mono', monospace; */
    font-family: 'Dancing Script', "BPG Irubaqidze", cursive, sans-serif;
    text-transform: capitalize;
    color: #a9a9b3;
}
body {
    font-family: 'Ubuntu Mono', monospace;
    background-color: #292a2d;
    color: #a9a9b3;
}
a, p a {
    font-weight: normal;
    font-family: 'Ubuntu Mono', monospace;
    transition: none;
    color: #a9a9b3;
    text-decoration: none;
}
a:hover {
    opacity: 0.75;
}
.navigation {
    background-color: #252627;
}
.navigation .navigation-title {
    font-size: 2.5rem;
}
.navigation .navigation-title::after, .navigation .navigation-title::before {
    display: none;
}
.navigation .navigation-title span {
    position: absolute;
    font-size: 0.7rem;
    top: 0px;
    /* transform: translate(10%, -20%); */
    transform: translate(-35%, 5%);
    /* left: auto; */
    /* left: 50%;
    transform: translateX(-50%); */
}
.navigation a {
    font-family: 'Dancing Script', "BPG Irubaqidze", cursive, sans-serif;
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: .2rem;
}
a:before,  a:after {
    height: 0;
}

.navigation a:before, .navigation a:after {
    height: 1px;
    background: #a9a9b3;
    transition: 0.2s;
    bottom: -5px;
}
p {
    /* font-family: 'Ubuntu Mono', monospace; */
}